* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: #ffffff;
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3c72;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#taskField {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #2a5298;
    outline: none;
}

#addTaskBtn {
    padding: 10px 15px;
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

#addTaskBtn:hover {
    background-color: #16325c;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
}

.filter.active {
    background-color: #2a5298;
    color: white;
}

ul {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
}

li {
    background: #f1f5ff;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.delete {
    background-color: crimson;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

#taskCounter {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
